section{
    width:960px;
}

nav{
    color:grey;
}

header{
    color:white;
    background-color:teal;
    height:40px;
    width:25%;
    float:left;
    text-align:center;
}

body{
    background-image: url("../images/crossline-dots.png");
    height:500px;
}

section{
    background-color:white;
    width:960px;
    background-position:center;
}

h1{
    color:teal;
}