
#tops{
    width:100%;
    background-color:#ffffff;
    height:100px;
    border-bottom: 3px solid #cccccc;
    position:absolute;
    top:0;
    left:0;
    
}

#headerContainer{
    background-color:#ffffff;
    width:960px;
    height:100%;
    margin: auto;
}

header{
    color:#ffffff;
    background-color:#4aaaa5;
    width:25%;
    text-align:center;
    padding:30px;
    font-size:30px;
    height:40px;
    font-family: Georgia, Times, "Times New Roman", serif;
    display:inline-block;
}

nav{
    color:#777777;
    background-color:#ffffff;  
    float:right;

    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top:40px;
    width:350px;
}

a{
    text-decoration: none;
    color:#777777;
    font-size:2vh;
    width:65px;
    float:right;
    text-align:center;
    
}

.navLink{
    width:100px;
    float:right;
    text-align:center;
}

#port{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    width:100px;
    height:20px;
    float:right;
}

body{
    background-image: url("../images/crossline-dots.png");
    margin:0;
    height:100%;
}

#content{
    background-color:#ffffff;
    width:960px;
    background-position:center;
    color:#777777;
    overflow:auto;
    clear:both;
    margin:150px auto;
    margin-bottom:200px;
    font-size:25px;
    border-width:1px;
    border-color:#cccccc;
    border-style:solid;
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;

}

#divider{
    background-color:#cccccc;
    width:94%;
    height:3px;
    margin:auto;
}

p{
    color:#777777;
    font-size:20px;
    padding:10px;
    font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height:40px;
    margin-left:20px;
    margin-bottom:20px;
}

#profilepic{
    float:left;
    margin:30px;
    margin-top:20px;
    margin-bottom:10px;
}

h1{
    color:#4aaaa5;
    margin-top:40px;
    margin-left:30px;
    font-size:35px;
    font-family: Georgia, Times, "Times New Roman", serif;

}

#portImages{
    padding:30px;
    width:700px;

}

.banner{
    display:block;
    float:left;
    width:300px;
    position: relative;
    margin-right: 50px ;
    margin-bottom:60px;
    margin-top:10px;

}

.textBlock{
    display:inline-block;
    float:left;
    width:100%;
    background-color:#4aaaa5;
    color:#ffffff;
    text-align:center;
    position: absolute;
    height:50px;
    padding-top:20px;
    bottom:15px;

}

input[type=text], select{
    width:100%;
    resize:vertical;
    padding:10px;
    margin-top:10px;
    
}

input[type=text], textarea{
    width:100%;
    resize:vertical;
    padding:10px;
    margin-top:10px;
    display:inline-block;
    box-sizing:border-box;


    
}
#nameBox{
    padding-top:10px;
}

.form{
  
    margin-top:10px;
    margin-left:30px;
    width:902.4px;
    margin-bottom:10px;
}

#messageBox{
    margin-top:20px;
    margin-left:30px;
    width:900px;
}

#submitButton{
    padding:10px;
    background-color:#4aaaa5;
    margin:20px;
    height:30px;
    width:125px;
    text-decoration: 0;
    color:#ffffff;
    text-align:center;

}

footer{
    background-color:#666666;
    height:50px;
    color:#cccccc;
    width:100%;
    text-align:center;
    border-top: 8px solid #4aaaa5;
    position:static;
    clear:both;
    bottom:0;
    left:0;
}